header.masthead {
  position:relative;
  display: table;
  height: 100vh;
  width: 100%;
  background: url(https://luizchaves97.github.io/dist/bgimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  &:before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.55);
    z-index: -1;
  }
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.3rem;
    @include body-font;
  }
  img{
    max-width:250px;
  }
  .container{
    display: table-cell;
    vertical-align: middle;
  }
}
@media (min-width: 992px) {
  header.masthead {
    h1 {
      font-size: 4em;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.75em;
    }

  }
}
